@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header-home {
  background: #000000;
  display: flex;
  justify-content: center;
  padding: 28px 0;
}

.logo-header {
  display: block;
}

.container-image img {
  width: 100%;
}

.infocard-text-top {
  margin: 64px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infocard-top-h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
}

.infocard-top-h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 500;
}

.infocard-top-paragrafo {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 766px;
  margin-top: 12px;
}

.container-image-infocard {
  display: flex;
  justify-content: center;
  margin: 60px 0 188px;
}

.container-infocard-mid {
  display: flex;
  justify-content: center;
  list-style: none;
}

.infocard-01,
.infocard-02,
.infocard-03 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  width: 350px;
  height: 287px;
}

.infocard-02 {
  margin: 0 20px;
}

.infocard-image-01,
.infocard-image-02,
.infocard-image-03 {
  max-width: 102px;
  display: flex;
  justify-content: center;
}

.infocard-text-01,
.infocard-text-02,
.infocard-text-03 {
  width: 300px;
  text-align: center;
  margin-top: 28px;
  line-height: 24px;
  font-weight: 400;
}

.container-image-mid {
  display: flex;
  justify-content: center;
  background: #e0e0e0;
  width: 100%;
  height: 442px;
  margin: 80px 0 0;
}

.container-image-mid-01 {
  margin: 64px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.image-desktop-02 {
  margin: 0 32px 0;
}

.container-infocard-inferior {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 280px 0px 138px;
}

.infocard-iferior-01,
.infocard-iferior-02,
.infocard-iferior-03,
.infocard-iferior-04 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  width: 432px;
  height: 332px;
}

.infocard-iferior-02 {
  margin: 0 16px 0;
}

.infocard-iferior-03 {
  margin: 0 16px 0 0;
}

.image-infocard-iferior-01,
.image-infocard-iferior-02,
.image-infocard-iferior-03,
.image-infocard-iferior-04 {
  margin-top: 36px;
}

.text-infocard-iferior-01,
.text-infocard-iferior-02,
.text-infocard-iferior-03,
.text-infocard-iferior-04 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 367px;
  margin: 14px 0 64px;
}

.container-text-infocard-end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.infocard-text-end-01 {
  font-size: 32px;
  font-weight: 600;
}

.infocard-text-end-02 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  max-width: 552px;
  margin: 16px 0 32px;
}

.image-codigo-desktop {
  margin: 0 0 104px;
}

.footer {
  background: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 38px 0;
}

.logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.logo-footer a:nth-child(2) {
  margin: 0 16px;
}
.paragrafo-footer {
  color: #bdbdbd;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}

@media screen and (min-width: 415px) {
  .image-top-mobile {
    display: none;
  }

  .image-codigo-mobile {
    display: none;
  }

  .paragrafo-footer-mobile {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .image-top-desktop {
    display: none;
  }

  .infocard-text-top {
    width: 358px;
    margin: 64px 26px;
    text-align: center;
  }

  .infocard-top-paragrafo {
    margin: 20px 0 0;
  }

  .container-image-infocard {
    justify-content: center;
    width: 240px;
    margin: 0 88px 80px;
  }

  .infocard-top-h2 {
    font-size: 20px;
  }

  .infocard-top-h1 {
    font-size: 28px;
  }

  .container-image-infocard {
    width: 240px;
    height: 240px;
  }

  .container-infocard-mid {
    flex-direction: column;
    align-items: center;
  }

  .infocard-02 {
    margin: 24px 0;
  }

  .container-image-mid {
    max-width: 414px;
    margin: 80px 0 0;
  }

  .container-image-mid-01 {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  .image-desktop-01 {
    grid-column: 2;
    grid-row: 1;
    width: 178px;
    height: 178px;
  }

  .image-desktop-02 {
    grid-column: 1;
    grid-row: 1;
    width: 177px;
    height: 179px;
    margin: 0;
  }

  .image-desktop-03 {
    grid-column: 1/ -1;
    grid-row: 2;
    width: 368px;
    height: 372px;
  }

  .container-infocard-inferior {
    flex-direction: column;
  }

  .infocard-iferior-01,
  .infocard-iferior-02,
  .infocard-iferior-03,
  .infocard-iferior-04 {
    width: 365px;
    height: 332px;
  }

  .infocard-iferior-01 {
    order: 1;
  }

  .infocard-iferior-02 {
    order: 3;
  }

  .infocard-iferior-03 {
    order: 2;
    margin: 16px 0;
  }

  .infocard-iferior-04 {
    order: 4;
    margin: 16px 0;
  }

  .text-infocard-iferior-01,
  .text-infocard-iferior-02,
  .text-infocard-iferior-03,
  .text-infocard-iferior-04 {
    font-size: 14px;
    width: 302px;
  }

  .image-codigo-desktop {
    display: none;
  }

  .container-text-infocard-end {
    flex-direction: column;
  }

  .container-text-infocard-end {
    flex-direction: column-reverse;
  }

  .infocard-text-end-01 {
    font-size: 24px;
    margin: 50px 0 18px;
  }

  .infocard-text-end-02 {
    max-width: 350px;
    margin: 0 32px 104px;
  }

  .image-codigo-mobile {
    max-width: 414px;
    width: 100%;
  }

  .footer {
    max-width: 414px;
    padding: 38px 0 26px;
  }

  .paragrafo-footer {
    display: none;
  }

  .paragrafo-footer-mobile {
    color: #bdbdbd;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 12px;
    font-weight: 400;
  }
}
